<button class="nav-btn open-btn">
    <i class="fas fa-bars"></i>
</button>
<!-- find a suitable hd panaram photo to input-->
<div class="backgroundImage">
    <p class="text">BackgroundImage Text</p>
</div>

<p class="text">Mobile Navigation</p>

<div class="nav nav-black">
    <div class="nav nav-red">
        <div class="nav nav-white">
            <button class="nav-btn close-btn">
                <i class="fas fa-times"></i>
            </button>

            <ul class="list">
                <li><a href="#">Teams</a></li>
                <li><a href="/help">Help</a></li>
                <li><a href="/wishList">Wish List</a></li>
                <li>
                    <ul>
                        <li><a href="#">Netflix culture memo</a></li>
                        <li><a href="#">Work life balance</a></li>
                        <li><a href="#">Inclusion & diversity</a></li>
                        <li><a href="#">Your notes, DONT FORGET THE NOTES</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>


<!-- Dynamic Part -->

<h1>Plces To Visit</h1>
{{#each places}}
    <div class="place">
        <h3>{{name}}</h3>
        <p>{{description}}</p>
        {{#if inSeason}}
            <span class="price">{{price}}</span>
            <a href="/cart/add?sku={{sku}}" class="btn btn-default">Buy Now!</a>
        {{else}}
        <span class="outOfSeason">We're sorry, this vacation is currently
            not in season.
            {{! The "notify me when this vacation is in season"
                page will be our next task. }}
            <a href="/notify-me-when-in-season?sku={{sku}}">Notify me when
            this vacation is in season.</a>
        {{/if}}
    </div>
{{/each}}

<!-- Dynamic Part END -->

<script src="/js/script.js"></script>
