
<!-- find a suitable hd panaram photo to input-->
<div class="backgroundImage">
    <p class="text">BackgroundImage Text</p>
</div>
<button class="nav-btn open-btn">
    <i class="fas fa-bars"></i>
</button>
<p class="text">Mobile Navigation</p>

<div class="nav nav-black">
    <div class="nav nav-red">
        <div class="nav nav-white">
            <button class="nav-btn close-btn">
                <i class="fas fa-times"></i>
            </button>

            <ul class="list">
                <li><a href="#">Teams</a></li>
                <li><a href="/help">Help</a></li>
                <li><a href="/wishList">Wish List</a></li>
                <li>
                    <ul>
                        <li><a href="#">Netflix culture memo</a></li>
                        <li><a href="#">Work life balance</a></li>
                        <li><a href="#">Inclusion & diversity</a></li>
                        <li><a href="#">Your notes, DONT FORGET THE NOTES</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>

<!--start of expandable panels-->
<div class="container">
    {{#each places}}
        {{#if @first}}
            <div class="panel active" style="background-image: url({{imgUrl}})">
                <h3>{{name}}</h3>
            </div>
        {{else}}
            <div class="panel" style="background-image: url({{imgUrl}})">
                <h3>{{name}}</h3>
            </div>
        {{/if}}



    {{/each}}
</div>

<!--fix the problem with scrolling and UI overlapping-->

<!-- if we add any more elements the background image will squish
<p>gggggggggggggggggggggggggggggggggggg</p>
<p>gggggggggggggggggggggggggggggggggggg</p>

<p>gggggggggggggggggggggggggggggggggggg</p>

<p>gggggggggggggggggggggggggggggggggggg</p>

<p>gggggggggggggggggggggggggggggggggggg</p>

<p>gggggggggggggggggggggggggggggggggggg</p>

<p>gggggggggggggggggggggggggggggggggggg</p>

<p>gggggggggggggggggggggggggggggggggggg</p>

<p>gggggggggggggggggggggggggggggggggggg</p>-->

<script src="/js/script.js"></script>
