
<!-- find a suitable hd panaram photo to input-->
<div class="backgroundImage">
    <p class="text">
            {{#if session.user.loggedin}}
                Hello, {{ session.user.username }}
            {{else}}
                Anonymous
            {{/if}}
    </p>
</div>

<button class="nav-btn open-btn">
    <i class="fas fa-bars"></i>
</button>

<div class="nav nav-black">
    <div class="nav nav-red">
        <div class="nav nav-white">
            <button class="nav-btn close-btn">
                <i class="fas fa-times"></i>
            </button>

            <ul class="list">
                {{#if session.user.loggedin}}
                    <li><a href="/logout">Logout</a></li>
                    <li><a href="/wishList">Wish List</a></li>
                {{else}}
                    <li><a href="/login">Login</a></li>
                {{/if}}
                <li><a href="/help">Help</a></li>
            </ul>
        </div>
    </div>
</div>

<!--start of expandable panels-->
<div class="container">
    {{#each places}}
        {{#if @first}}
            <div class="panel active" style="background-image: url({{imgUrl}})">

                <!--first checkbox-->
                <input type="checkbox" id="{{place_id}}" name="{{place_id}}-name" {{#if checked}} checked {{/if}} class="expandCardsCheckbox" >
                <label for="{{place_id}}" class="checkboxLabels"></label><br>

                <h3>{{name}}</h3>
            </div>
        {{else}}
            <div class="panel" style="background-image: url({{imgUrl}})">

                <!--other checkboxes-->
                <input type="checkbox" id="{{place_id}}" name="{{place_id}}-name" {{#if checked}} checked {{/if}} class="expandCardsCheckbox" >
                <label for="{{place_id}}" class="checkboxLabels"></label><br>

                <h3>{{name}}</h3>
            </div>
        {{/if}}
    {{/each}}
</div>

<script src="/js/script.js"></script>
