<body class="wishListBackground">

    <h1>Welcome user {{ session.user.username }} to your WishList</h1>


    <input type="button" onclick="window.location.href='/';" value="Go back" class="returnBtn"/>
    <div class="container">
        <ul>
         {{#each placesFromWishlist}}
             <li>
                <div class="imageBorders"> <img src="{{imgUrl}}" alt="" width="200px" height="200px"> </div>

                    <div class="wishListDesc"> <h3>{{name}}, price: {{price}}, {{#if season}} Season {{else}} Not season {{/if}}</h3> </div>
                    <input type="button" onclick="window.location.href='/notes?placeId={{id}}'" value="See the comments" class="commentBtn"/>
             </li>
        {{/each}}
        </ul>
    </div>


</body>