<h1>{{ session.user.username }} WishList</h1>

<div class="container">
    <ul>
        {{#each placesFromWishlist}}
            <li>
                <img src="{{imgUrl}}" alt="" width="200px" height="200px">
                    <h3>{{name}}, price: {{price}}, {{#if season}} Season {{else}} Not season {{/if}}</h3>
            </li>
        {{/each}}
    </ul>
</div>


